body {
  font-family: "Cabin", sans-serif;

  color: #575757;
  background-color: #ffffff;

  display: flex;
  justify-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}
